/* Setup */
body, html
	height 100vh

body
	font-size 16px
	color #0a1826
	background #fff
	font-family sans,sans-serif
	font-weight 400
	line-height 1.64706
	letter-spacing .012em
	
/* Container Stuff */
body.container 
	padding 0
	display flex
	flex-direction column
	& > *
		padding 1em
		@media (min-width 960px)
			padding 10px calc(50% - 450px)
	main
		flex 1

/* Responsive Stuff */
body.resp
	padding 0
	display flex
	flex-direction column
	& > *
		padding 1em
	main
		flex 1