// Containers

// Small container
small-container-width = 400px
// Normal container
container-width = 600px
// Large container
large-container-width = 800px

// Text colors
gray1 = #727272
gray2 = #0a1826
gray3 = #92a1b1

ongray1 = #ffffffb3
ongray2 = #ffffffb3
ongray3 = #000

// Body
bodyColor = #0a1826

// Links
link-color = #456fff
grayblue = #748190